# ShareThis Configuration
# http://www.sharethis.com/publisher?type=stapi
# Be sure to quote hex colors (eg linkfg: "#336699")

sharethis:
    publisher:
    style:
    services:
    tabs:
    embeds:
    charset:
    popups:
    headerbg:
	linkfg:
	inactivebg:
	inactivefg:
	offsetLeft:
	offsetTop:
    ireg:
    reg: