# ShareThis Configuration
# http://help.sharethis.com/customization/dynamic-buttons
# Be sure to quote hex colors (eg linkfg: "#336699")

sharethis:
  publisher: '123'
  tracking: 'google'
  doneScreen: true
  onhover: false
  embeds: false
  headerTitle: false
  headerbg: '#CCCCCC'
  headerfg: '#FFFFFF'